.git                 export-ignore
.gitignore           export-ignore

tests/               export-ignore

/README.md           export-ignore
/pyrightconfig.json  export-ignore
*.sublime-project    export-ignore
